@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Inter:wght@100..900&family=Open+Sans:wght@300..800&family=Rethink+Sans:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Tailwind configuration in tailwind.config.js */
:root {
  --backdrop-filter: blur(12px);
  --card-box-shadow: inset 4px 4px 9px 0 rgba(153, 234, 255, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  --thumb-image: url('./assets/icons/slider-thumb.svg');
}

body {
  @apply overflow-x-hidden;
}

main {
  @apply overflow-hidden;
}

* {
  @apply m-0 p-0 box-border font-sans;
}

a {
  @apply no-underline;
}

li {
  @apply list-none;
}

a.svelte-1mtuslq.svelte-1mtuslq {
  @apply hidden;
}

.App {
  @apply min-h-screen bg-cover bg-center;
  background-image: url('../public/desktop-background.png');
}

@media (max-width: 768px) {
  .App {
    background-image: url('../public/mobile-background.png');
    @apply bg-center h-auto;
  }
}

/* styles */

.header-nav {
  @apply flex items-center justify-center w-full h-[90px] bg-header-bg backdrop-blur-lg border-b border-[#300734] z-[9999];
}

.header-nav-sticky {
  @apply fixed top-0 flex items-center justify-center w-full h-[90px] bg-header-bg backdrop-blur-lg border-b border-[#300734] z-[100];
}

.list-items {
  @apply flex items-center justify-between w-full px-[30px] relative;
}

.logo svg {
  @apply mt-[9px] w-[300px] h-auto;
}

.nav-items {
  @apply flex gap-4 items-center absolute left-1/2 transform -translate-x-1/2;
}

.nav-items a {
  @apply text-secondary font-normal text-[16px] leading-[150%] capitalize transition-colors duration-300;
}

.nav-items a:hover {
  @apply text-nav-button-hover;
}

.nav-items a.active-link {
  @apply text-nav-button-hover font-semibold;
}

.wallet-container {
  @apply relative flex items-center justify-between w-[274px] h-[57px] px-[24px] text-[24px] text-white;
}

.menu-dropdown {
  @apply flex flex-col justify-start items-center absolute top-[80px] right-0 w-[300px] rounded-[10px] bg-header-button-bg transition-all duration-300 p-[16px];
}

.logout-button {
  @apply flex items-center justify-center relative bg-none border-0 text-primary font-semibold text-[15px] cursor-pointer w-[250px] h-[50px] rounded-[900px];
}

.Toastify__toast {
  margin-top: 90px;
}

.Toastify__toast-body {
  font-size: 16px;
  font-weight: 600;
}

.border-gradient-mask {
  position: relative;
  border: none;
  /* Remove the default border */
}

.border-gradient-mask::after {
  content: '';
  position: absolute;
  inset: 0;
  padding: 1px;
  /* Border thickness */
  border-radius: inherit;
  background: linear-gradient(90deg, #49abd2 0%, #e01dee 100%);
  -webkit-mask:
    conic-gradient(#000 0 0) content-box exclude,
    conic-gradient(#000 0 0);
  mask:
    conic-gradient(#000 0 0) content-box exclude,
    conic-gradient(#000 0 0);
  z-index: 0;
}

.border-gradient-mask>* {
  position: relative;
  z-index: 10;
}

.partnership-logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  animation: scroll 13s linear infinite; /* Infinite scroll */
  width: calc(150px * 8 * 2); /* Adjust width for duplicated logos */
}

.partnership-logo > * {
  flex-shrink: 0;
  width: 150px;
  height: 100px;
  margin: 0 20px;
}

@keyframes scroll {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}