.metric-card {
  width: 309px;
  background: var(--header-button-bg);
  border: var(--midnight-purple-border);
  border-radius: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {

  /* For screens smaller than 1024px */
  .metric-card {
    gap: 4px;
    width: 100%;
    height: 100px;
    border-radius: 16px !important;
  }
}

@media (max-width: 480px) {

  /* For screens smaller than 480px */
  .metric-card {
    gap: 4px;
    width: 167px;
    height: 88px;
    border-radius: 16px !important;
  }
}